*{
    font-family: 'Courier New', Courier, monospace;
}


#num,#check{
   outline: none;
   padding: 5px;
   font-size: 20px;
   margin: 5px; 
}
#num{
    width: 150px;
}

#res{
    color: white;
    text-align: center;
    padding: 30px;
    width: 20%;
    margin: 50px auto;
    border: 2px solid white;
    display: none;
}